<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <a href="{{ '/' | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo of {{site.title}}" /></a>
        {% else %}
          <h1><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <br/>
        <h3 class="view">Visit our:</h3>
        <p>* <a href="https://matrix.to/#/#ohn:matrix.org">matrix</a> and <a href="https://t.me/joinchat/bSRAq8EqivM4ZmZi">telegram</a> rooms<br/><small>to say <i>hi!</i>, chat and coordinate</small></p>
        <p>* <a href="https://trello.com/b/snYAVXym">board</a><br/><small>to get an overview of what's going on in the project</small></p>
        <p>* <a href="https://github.com/OpenHospitalityNetwork">source code</a><br/><small>for development and technical discussions</small></p>
        <p>* <a href="https://pad.kanthaus.online/ohn">weekly meeting</a><br/><small>on Mondays at 7pm CEST (UTC+2)</small></p>
      </header>

      <section>

      {{ content }}

      </section>

      <footer>
        <p><small>🤍 Help us pay bills via <a href="https://opencollective.com/ohn">Open Collective</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}" ></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
